{% extends "!layout.html" %}
{% block sidebartitle %}
{{ super() }}
<br>
<!-- <a href="https://docs.vostok.io"><img style="background-color: #fff; height: unset; width: unset; border-radius: 0; padding: 0; margin: 0;" src="_static/img/logo-1.png" width="300" height="72"> 
-->
<a href="https://docs.vostok.io"><img style="background-color: #fff; height: unset; width: unset; border-radius: 0; padding: 0; margin: 0;" src="_static/img/logo_blue.svg" width="248px" height="48px">    
</a>

{% endblock %}




